<?xml version="1.0" ?>
<config> 
	<!-- Output Directory -->
	<output resultsFile="./data/evacuation.h5" logsDir="./logs"/>
	<!-- Number of Steps and Raster Sizes -->
	<numSteps value="2200" serializeResolution="1"/>
	<size width="510" height="220"/>
	<!-- Raster specifics -->
	<exits>
		<exit1 x="305" y="70"/>
		<exit2 x="305" y="71"/>
		<exit3 x="504" y="140"/>
		<exit4 x="504" y="141"/>
		<exit5 x="504" y="120"/>
		<exit6 x="504" y="121"/>
		<exit7 x="504" y="142"/>
		<exit8 x="504" y="119"/>
		<exit9 x="305" y="72"/>
		<exit10 x="305" y="73"/>
		<exit11 x="504" y="143"/>
		<exit12 x="504" y="118"/>

	</exits>
	<doors>
// R = 4 L= 2 U = 1 D = 3 
		<door1 x="50" y="31" DIR="4" VALUE="1"/>
		<door2 x="50" y="32" DIR="4" VALUE="1"/>
		<door3 x="105" y="50" DIR="3" VALUE="1"/>
		<door4 x="106" y="50" DIR="3" VALUE="1"/>
		<door5 x="40" y="100" DIR="1" VALUE="1"/> 
		<door6 x="40" y="101" DIR="1" VALUE="1"/>
		<door7 x="186" y="204" DIR="3" VALUE="1"/>
		<door8 x="187" y="204" DIR="3" VALUE="1"/>
		<door9 x="150" y="170" DIR="2" VALUE="1"/>
		<door10 x="150" y="171" DIR="2" VALUE="1"/>
		<door11 x="180" y="150" DIR="0" VALUE="0"/>
		<door12 x="181" y="150" DIR="0" VALUE="0"/>
		<door13 x="150" y="100" DIR="2" VALUE="1"/>
		<door14 x="150" y="101" DIR="2" VALUE="1"/>
		<door15 x="370" y="50" DIR="3" VALUE="1"/>
		<door16 x="371" y="50" DIR="3" VALUE="1"/>
		<door17 x="450" y="40" DIR="2" VALUE="1"/>
		<door18 x="450" y="41" DIR="2" VALUE="1"/>
		<door19 x="450" y="120" DIR="4" VALUE="1"/>
		<door20 x="450" y="121" DIR="4" VALUE="1"/>
		<door21 x="370" y="160" DIR="1" VALUE="1"/>
		<door22 x="371" y="160" DIR="1" VALUE="1"/>
		<door23 x="471" y="150" DIR="1" VALUE="1"/>
		<door24 x="470" y="150" DIR="1" VALUE="1"/>
		<door25 x="489" y="204" DIR="1" VALUE="1"/>
		<door26 x="490" y="204" DIR="1" VALUE="1"/>
		<door27 x="305" y="70" DIR="2" VALUE="1"/>
		<door28 x="305" y="71" DIR="2" VALUE="1"/>
		<door29 x="504" y="140" DIR="4" VALUE="1"/>
		<door30 x="504" y="141" DIR="4" VALUE="1"/>
		<door31 x="504" y="120" DIR="4" VALUE="1"/>
		<door32 x="504" y="121" DIR="4" VALUE="1"/>
		<door33 x="305" y="72" DIR="2" VALUE="1"/>
		<door34 x="504" y="142" DIR="4" VALUE="1"/>
		<door35 x="504" y="119" DIR="4" VALUE="1"/>
		<door36 x="305" y="73" DIR="2" VALUE="1"/>
		<door37 x="504" y="143" DIR="4" VALUE="1"/>
		<door38 x="504" y="118" DIR="4" VALUE="1"/>

	</doors>
        
	<signs>
		<sign1 x="186" y="204"/>
		<sign2 x="486" y="204"/>
 		<sign3 x="349" y="150"/>
 		<sign4 x="40" y="51"/>
 		<sign5 x="149" y="70"/>
 		<sign6 x="410" y="6"/>                
	</signs>

	<turns>
		<turn1 x="188" y="215"/>
		<turn2 x="188" y="216"/>
	</turns>


	<jumps>
		<jump1 xfrom="189" yfrom="207" xto="489" yto="206"/>
		<jump2 xfrom="190" yfrom="207" xto="490" yto="206"/>
	</jumps>
 
	<environment evacuationThreshold="80" floorNumber = "2" doorNumber = "38" jumpNumber = "2" turnNumber = "2" exitNumber="12" signNumber="6" maxDoorWidth="4" systemRasters="23" delayMin="2" delayMax="60" chemoDecayRate="5"/>

	<!-- Agents Parameters  -->
	<agents num="5000" initialPanicked="5" childPercentage="11" elderlyPercentage="20" malePercentage="49" notMovedPanicTreshold="30" talkingProb="50" talkingRadius="19" getuptime="20" visionAdult="75" visionElderly="35" visionChild="75" manTrampling="4" womanTrampling="3" elderlyTrampling="2" childTrampling="2" elderlyWeightMean="70.5" elderlyWeightStDev="9" childWeightMean="31.9" childWeightStDev="4" manWeightMean="77.2" manWeightStDev="10" womanWeightMean="63.6" womanWeightStDev="8" childStairsSpeed="1" adultStairsSpeed="2" elderlyStairsSpeed="1" childSpeed="2" adultSpeed="3" elderlySpeed="1" />

</config>
